.card {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
}

.card .header {
  position: relative;
}

.card .comming-soon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: black;
  opacity: 0.5;
  color: white;
  text-transform: uppercase;
}

.card .thumbnail {
  max-width: 100%;
  height: auto;
}

.card .title {
  display: block;
}
