.card {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.card .header {
  position: relative;
}

.card .comming-soon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-transform: uppercase;
}

.card .title {
  display: block;
}
