.card {
  background: none;
  border: none;
  font-size: 18px;
}

.card .header {
  width: 200px;
  height: 200px;
  position: relative;
}

.card .comming-soon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: black;
  opacity: 0.5;
  color: white;
  text-transform: uppercase;
  line-height: 200px;
}

.card .thumbnail {
  width: 200px;
  height: auto;
}

.card .title {
  display: block;
}
